body{
    margin: 0;
}
.header{
    background-color: #f8e1db;
    padding: 10px 10px 20px 20px;
}
.menu-header a {
    text-decoration: none;
    padding-right: 20px;
    color: #3b3836;
    font-size: 20px;
}
.menu-header a:hover{
    color: red;
}
.carousel{
    height: 650px;
    background-image: url("./img/BG.png");
    background-size: cover;
    background-position: center;
}
.container{
    padding: 20px 0;
    background-color: #faf4f2;
}
.container-header{
    text-align: center;
    color: #8d8d8d;
}
.ric-main{
    padding: 30px 30px;
    background-color: white;
    border-radius: 10px;
}
.row-item .row-item-content{
    float: left;
    box-sizing: border-box;
    padding: 0 20px;
    width: 25%;
}
.ric-img img{
    border-radius: 8px;
    width: 100%;
}
.ric-content{
    text-align: center;
}
.ric-content h2{
    color:#3a3735;
}
.ric-content p {
    color: #8d8d8d;
}
.ric-readmore{
    border-radius: 20px;
    text-align: center;
    padding: 10px 10px;
    background-color: #e8e8e8;
}
.ric-readmore a{
    text-decoration: none;
    color:#8d8d8d;
}
.clear{
    clear: both;
}